@import '../../variables.scss';

$em: 2em;

@mixin cardPaddingTop {
  & + .card-content {
    padding-top: 0;
  }
}

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  min-width: 200px;
  min-height: 150px;
  box-shadow: $drop-shadow;
  border-radius: $border-radius;
  text-align: left;
  overflow: hidden;
  background: $bg-color;
  @include transition;

  &:hover {
    @include hover;
  }

  .card-image {
    position: relative;
    min-height: 224px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      position: absolute;
      width: 100%;
    }

    @include cardPaddingTop();
  }

  .card-icon {
    display: flex;
    padding: $em $em 0;

    @include cardPaddingTop();
  }

  .card-content {
    background: $bg-color;
    z-index: 1;
    padding: 1em $em $em;
    position: relative;
    font-size: 16px;

    .card-p {
      margin-bottom: 3em;
    }
  }

  .card-link {
    position: absolute;
    bottom: $em;
  }
}
