.header{
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
}

nav{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
}
.logo-title{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 0.5em;

}

.logo-img{
    display: flex;
    width: 50px;
    height: 50px;
    align-self: center;
}

.nav-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item{
    margin: 0 1em;
}

.nav-link{
    text-decoration: none;
    color: #1F1534;
    opacity: 0.5;
}

.nav-link:focus, .nav-link:hover{
    opacity: 1;
}
.nav-link:focus{
    font-weight: 700;
}
