@import '../../variables.scss';

@mixin opacity {
  opacity: 0.5;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin: 2em auto;

  .current.arrow {
    @include opacity();
  }

  img {
    width: 2em;
    cursor: pointer;
  }

  .prev {
    transform: rotate(180deg);
  }
}

.slides-dots {
  color: $primary-color;
  font-size: 1.4em;
  padding: 0 20%;
  cursor: default;

  & span:not(.current) {
    @include opacity();
  }
  span:not(:first-child) {
    margin-left: 20%;
    cursor: pointer;
  }
}

.slides-wrapper {
  overflow: hidden;
}

.carousel-slide {
  animation: slide-in 0.6s cubic-bezier(0.17, 0.67, 0.82, 0.64);
}

@keyframes slide-in {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
}
