.footer{
    background-image: linear-gradient(#5B9BF3, #3b90ff);
    padding: 3em;
}

.logo{
    display: flex;
}
.logo-img{
    width: 50px;
    margin-right: 1em;
}
.container{
    display: flex;
    align-items: center;
}

.footer-links{
    width: 500px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.footer-info{
    width: 70%;
}

.footer-main{
    display: flex;
    text-align: left;
    flex-direction: column;
}

.copyright{
    margin: 0;
}
