@font-face {
  font-family: 'Muli';
  src: local('Muli'), url(./fonts/Muli.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli Bold';
  src: local('Muli Bold'), url(./fonts/Muli-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli Light';
  src: local('Muli Light'), url(./fonts/Muli-Light.ttf) format('truetype');
}
