@import './fonts.scss';
@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Muli Light', sans-serif;
  color: $text-color;
  line-height: 30px;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Muli Bold', sans-serif;
  color: $heading-color;
  line-height: 1em;
}

h1 {
  font-size: 48px;
  line-height: $line-height-1;
}
h2 {
  font-size: 36px;
  line-height: $line-height-1;
}
h3 {
  font-size: 24px;
  line-height: $line-height-2;
}
h4 {
  font-size: 21px;
}

a,
li {
  text-decoration: none;
}

a {
  color: $text-color;
}
a:hover {
  color: $heading-color;
}

ul {
  list-style-type: none;
}

hr {
  border: 2px solid $heading-color;
  width: 56px;
}
