@import './fonts.scss';
@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a:hover {
  font-family: 'Muli Bold', sans-serif;
  color: $heading-color;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}

a,
li {
  text-decoration: none;
}

a {
  font-size: 18px;
  color: $text-color;
}

ul {
  list-style-type: none;
}
