// variables
$primary-gradient: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
$primary-color: #458ff6;
$bg-color: #fff;
$text-color: #7d7987;
$heading-color: #000;
$drop-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);

// mixins
@mixin global-spacing-primary {
  margin: 2.5vw 10vw;
}
@mixin global-spacing-secondary {
  margin: 5vw 17.5vw;
}
