@import '../../variables.scss';

.homepage {
  .navbar {
    @include global-spacing-secondary();
  }

  .header-section {
    @include global-spacing-primary();
    min-height: 75vh;
    text-align: left;

    .split-screen {
      position: relative;
      height: 100%;
      .left-content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 70%;
      }
    }
  }

  .services-section {
    @include global-spacing-secondary();

    .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      margin: 6% 0;
    }
  }
}
