@import '../../variables.scss';

@mixin flex-align-center {
  display: flex;
  justify-content: center;
}
@mixin image-sizing {
  width: 100%;
  max-width: initial;
  object-fit: contain;
}

.homepage {
  .split-content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 10em;
  }

  .header-section {
    @include global-spacing-primary();
    min-height: 66vh;
    text-align: left;
    font-size: 21px;

    .split-content {
      .left-content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
      }
      .right-content {
        @include flex-align-center();
        img {
          @include image-sizing();
          min-width: 347px;
        }
      }
    }
  }

  .services-section {
    @include global-spacing-secondary();

    & > div:first-child {
      margin: 0 10%;
      text-align: center;
    }
    & > div:last-child {
      @include flex-align-center();
    }

    .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(33ch, 1fr));
      margin: 6% 0;
    }
  }
}
